* {
    box-sizing: border-box;
}

body {
    font-family: 'Srisakdi', cursive;
    padding: 20px 50px;
    background-image: linear-gradient(to right, rgb(242, 255, 179), rgb(253, 239, 78));
}

a {
    text-decoration: none;
    color: black;
}