.preview {
    ol {
        padding-left: 0;
    }

    li, div > p {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        list-style-type: none;
    }

    img {
        height: 50px;
        order: 1;
    }

    p {
        margin: 5px 0;
        padding-left: 10px;
        line-height: 40px;
    }
}